build/Debug-iphonesimulator/S20_SpatialPaint.app.dSYM/Contents/Info.plist
build/Debug-iphonesimulator/S20_SpatialPaint.app.dSYM/Contents/Resources/DWARF/S20_SpatialPaint
build/Debug-iphonesimulator/S20_SpatialPaint.app/Info.plist
build/Debug-iphonesimulator/S20_SpatialPaint.app/MainWindow.nib
build/Debug-iphonesimulator/S20_SpatialPaint.app/MyPaintViewController.nib
build/Debug-iphonesimulator/S20_SpatialPaint.app/MyTitleViewController.nib
build/Debug-iphonesimulator/S20_SpatialPaint.app/PkgInfo
build/Debug-iphonesimulator/S20_SpatialPaint.app/S20_SpatialPaint
build/S20_SpatialPaint.build/Debug-iphonesimulator/S20_SpatialPaint.build/Objects-normal/i386/MyPaintViewController.o
build/S20_SpatialPaint.build/Debug-iphonesimulator/S20_SpatialPaint.build/Objects-normal/i386/MyTitleViewController.o
build/S20_SpatialPaint.build/Debug-iphonesimulator/S20_SpatialPaint.build/Objects-normal/i386/S20_SpatialPaint.LinkFileList
build/S20_SpatialPaint.build/Debug-iphonesimulator/S20_SpatialPaint.build/Objects-normal/i386/S20_SpatialPaintAppDelegate.o
build/S20_SpatialPaint.build/Debug-iphonesimulator/S20_SpatialPaint.build/Objects-normal/i386/main.o
build/S20_SpatialPaint.build/Debug-iphonesimulator/S20_SpatialPaint.build/S20_SpatialPaint-all-target-headers.hmap
build/S20_SpatialPaint.build/Debug-iphonesimulator/S20_SpatialPaint.build/S20_SpatialPaint-generated-files.hmap
build/S20_SpatialPaint.build/Debug-iphonesimulator/S20_SpatialPaint.build/S20_SpatialPaint-own-target-headers.hmap
build/S20_SpatialPaint.build/Debug-iphonesimulator/S20_SpatialPaint.build/S20_SpatialPaint-project-headers.hmap
build/S20_SpatialPaint.build/Debug-iphonesimulator/S20_SpatialPaint.build/S20_SpatialPaint.dep
build/S20_SpatialPaint.build/Debug-iphonesimulator/S20_SpatialPaint.build/S20_SpatialPaint.hmap
build/S20_SpatialPaint.build/Debug-iphonesimulator/S20_SpatialPaint.build/S20_SpatialPaint~.dep
build/S20_SpatialPaint.build/Debug-iphonesimulator/S20_SpatialPaint.build/build-state.dat
build/S20_SpatialPaint.build/Debug-iphonesimulator/S20_SpatialPaint.build/build-state~.dat
build/S20_SpatialPaint.build/S20_SpatialPaint.pbxindex/categories.pbxbtree
build/S20_SpatialPaint.build/S20_SpatialPaint.pbxindex/cdecls.pbxbtree
build/S20_SpatialPaint.build/S20_SpatialPaint.pbxindex/decls.pbxbtree
build/S20_SpatialPaint.build/S20_SpatialPaint.pbxindex/files.pbxbtree
build/S20_SpatialPaint.build/S20_SpatialPaint.pbxindex/imports.pbxbtree
build/S20_SpatialPaint.build/S20_SpatialPaint.pbxindex/pbxindex.header
build/S20_SpatialPaint.build/S20_SpatialPaint.pbxindex/protocols.pbxbtree
build/S20_SpatialPaint.build/S20_SpatialPaint.pbxindex/refs.pbxbtree
build/S20_SpatialPaint.build/S20_SpatialPaint.pbxindex/strings.pbxstrings/control
build/S20_SpatialPaint.build/S20_SpatialPaint.pbxindex/strings.pbxstrings/strings
build/S20_SpatialPaint.build/S20_SpatialPaint.pbxindex/subclasses.pbxbtree
build/S20_SpatialPaint.build/S20_SpatialPaint.pbxindex/symbols0.pbxsymbols